.app_tp {
  min-height: 100vh;
  //overflow: hidden;
}
* {
  box-sizing: border-box;
  margin: 0px;
  &:focus, &:active {
    outline: none;
  }
}
.link_signout {
  display: block;
  border: none;
  box-shadow: none;
  outline: none;
  position: absolute;
  left: 20px;
  top: 20px;
  z-index: 999;
  background: none;
  cursor: pointer;
}
.logo_form {
  top: 0px;
  left: 0px;
  width: 100%;
  img {
    display: block;
    margin: 0 auto;
    width: 200px;
    max-width: 100%;
  }
}
.auth_screen {
  padding: 20px 0px 0px 0px;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_signin {
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  .label_form {
    display: inline-block;
    margin-bottom: 10px;
  }
  .input_form {
    display: block;

    border: none;
    outline: none;
    margin-bottom: 10px;
    background: #AAA9AD;
    padding: 0px 10px;
    height: 34px;
    border-radius: 17px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin: 0 auto 10px auto;
  }
  .link_submit {
    display: block;
    margin: 0 auto;
    border: none;
    background: #E30613;
    color: #ffffff;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px;
    width: 100px;
    &[disabled] {
      opacity: 0.2;
    }

  }
}

.both_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 0px;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  img {
    display: block;
    width: 200px;
    margin: 0px 10px;
  }
  //opacity: 0 !important;
}
.s25 {
  font-size: 14px;
  color: #AAA9AD;
}
.text-highlight {
  font-size: 40px;
  font-weight: 100;
  text-align: center;

}
.text-center {
  text-align: center;
}
.question-detail {
  /*border: solid 1px red;*/
  padding: 20px 0;
}
.title-qs {
  margin-bottom: 10px;
  font-size: 25px;
}
.drs-qs {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.list_questions {
  list-style-type:upper-alpha;
  &.none-style {
    list-style-type: none;
    .item {
      //border: solid 1px blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .dot_item {
        left: -30px;
        top: 3px;
      }
    }
  }
  .item {
    /*border: solid 1px blue;*/
    margin-bottom: 10px;
    position: relative;
    font-size: 20px;
    &.active {
      opacity: 1 !important;
      .dot_item {
        &:before {
          background: #ffffff;
        }
      }
    }
    &.correct {
      background: blue;
      color: #ffffff;
    }
    &.in-correct {
      background: red;
      color: #ffffff;
    }
    &.disable {
      pointer-events: none;
      opacity: 0.5;

    }
    .dot_item {
      width: 15px;
      height: 15px;
      border: solid 1px #fff;
      display: block;
      position: absolute;
      border-radius: 100%;
      top: 3px;
      left: -48px;
      padding: 1px;
      overflow: hidden;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 100%;

      }
    }
  }
}



.main_layout {
  background: #E30613 url("../assets/LED_Bg_pattern_red.png");
  background-repeat: no-repeat;
  background-size: 300px;
  @media (max-width: 640px) {
    background-size: 150px;
  }
  background-position: bottom left;
  color: #ffffff;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.main_screen {
  padding: 20px;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow:auto;
}
.err_text {
  font-size: 15px;
  padding: 10px;
  height: 24px;
  line-height: 24px;
  sup, .sup {
    margin-right: 10px;
    color: red;
  }
}
.text-waiting {
  text-align: center;
  margin-top: 40px;
  font-size: 24px;
}

.content_center {
  //border: solid 1px blue;
  flex: 1;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &.no_center {
    display: block;
  }
}

.led_box {
  /*border: solid 1px red;*/
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 20px;
}


.box_nex_process {
  //border: solid 1px blue;
  text-align: center;
  button {
    display: block;
    margin: 10px auto;
    background: #ffffff;
    color: #000;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
  }
}
.process_box {
  max-width: 400px;
  width: 100%;
}
.process_box--answers {
  padding-left: 10px;
}

.text_dob {

}
.hint_text {
  font-size: 12px;
  margin-bottom: 20px;
}
.icon_error {
  display: block;
  max-width: 15vw;
  //width: 100%;
  margin: 0 auto 10px auto;
}

/*Ipad Show Grade*/
.grade-item{
  display: flex;  
  text-align: left;
  font-size: 22px;
  .grade-code{
    width: 20%;
  }
  .grade-name{
    width: 60%;
  }
  .grade-button{
    width: 20%;    
    button{
      display: block;
      margin: 0 15px;
      background: #ffffff;
      color: #000;
      border: none;
      outline: none;
      font-size: 18px;
      padding: 0px 20px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      cursor: pointer;
    }
    .hidden{
      opacity: 0.5
    }
  }
}
.input-search-user{
  width: 100%;
  height: 40px;
  margin: 10px auto;
  background: #ffffff;
  color: #000;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  cursor: pointer;
}