.main_layout_led {
  background-image: url("../assets/LED_Bg_pattern_red.png");
  background-color: #E30613;
  min-height: 100vh;
  padding: 40px;
  color: #ffffff;
  &.white {
    background-color: #ffffff;
    background-image: url("../assets/LED_Bg_pattern_Opacity.png");
    color: #000;
  }
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 300px;

  @media (max-width: 640px) {
    background-size: 150px;
  }
}

.container_led {
  max-width: 1366px;
  margin: 0 auto;
}

.topbar-led {
  //border: solid 1px blue;
  display: flex;
  justify-content: space-between;
  .led_left {
    width: 15vw;
    display: block;
  }
  .led_right {
    width: 15vw;
    display: block;
  }
}

.title_led {
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-weight: 100;
  margin-top: 15px;
  position: relative;
  &.red {
    color: #d12e26;
  }
  strong {
    font-weight: 700;
    font-size: 50px;
  }
  .timer_title {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #000;
    font-weight: 700;
    font-size: 30px;
    padding-right: 20px;
    span {
      font-size: 45px;
      margin-right: 5px;
    }
  }
}

.contain_led_show {
  display: flex;
  padding: 20px 0px;
  .left_contain, .right_contain {
    width: 50%;
    //border: solid 1px blue;
  }
  .left_contain {

  }
  .right_contain {

  }
  .line_contain {
    width: 100px;
    background: url("../assets/line_gr.png") no-repeat;
    background-size: contain;
    background-position: center;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }
}

.title-userguide {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.drs {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.3em;
}

.table_view {
  width: 100%;
  tr {
    th {
      color: #000;
      //border: solid 1px blue;
      font-size: 20px;
      font-weight: 100;
      padding: 10px;
    }
    td {
      //border: solid 1px blue;
      text-align: center;
      font-weight: 700;
      padding: 10px;
      font-size: 20px;

      &:nth-child(1) {
        text-align: left;
        font-weight: 100;

      }
    }
  }
  .sum_title {
    text-align: center;
    color: #ffffff;
    strong {
      font-weight: bold;
      font-size: 24px;
    }
  }
  .box_point {
    background: #ffffff;
    font-weight: bold;
    color: #000;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
  }
}

.title-center-box {
  font-size: 60px;
  text-align: center;
  margin-top: 100px;
  font-weight: 700;
}

.list_upper_question {
  list-style-type: upper-alpha;
  padding: 0px 0px 0px 20px;
  li {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.3em;
    padding-left: 10px;
    &.answred {
      opacity: 1;
    }
    &.answred ~ li {
      opacity: 0.6;
    }

  }
}

.show_correct {
  li {
    opacity: 0.8;
  }
  .active {
    opacity: 1;
    font-weight: bold;
  }
}

.title-s20 {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.drs-s20 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: justify;
  line-height: 1.3em;
}

.drs-kq {
  font-size: 40px;
  /*transform: translateY(140px);*/
  strong {
    font-size: 60px;
  }
}

.list_answred {
  //border: solid 1px red;
  list-style-type: none;
  padding: 0px;
  li {
    //border: solid 1px blue;
    &.list_answred--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      .drs {
        padding-right: 10px;
        .mnv {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        .name {
          font-size: 20px;
          span {
            text-transform: uppercase;
          }
        }
      }
      .timer {
        border: none;
        background: #d12e26;
        color: #ffffff;
        font-weight: 700;
        font-size: 24px;
        border-radius: 10px;
        padding: 10px 10px;
      }
      .both_text_item {
        font-size: 20px;
        font-weight: bold;
      }
      &.green {
        .drs, .both_text_item {
          color: #60b158;
        }
      }
      &.red {
        .drs, .both_text_item {
          color: #d12e26;
        }
      }
    }
  }
}

.contain_led_result {
  //border: solid 1px blue;
  display: flex;
  margin: 40px -20px 0px -20px;
  .item {
    width: 33.33333%;
    padding: 0px 20px;
  }
  &--lienquan {
    .list_answred {
      width: 75%;
      margin: 0 auto;
      .list_answred--item {
        .drs {
          .mnv {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

.box_qs_only {
  //border: solid 1px blue;
  text-align: center;
  padding: 20px 0px;
  .box_qs_only--title {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .box_qs_only--qs {
    margin-bottom: 15px;
  }
  .box_qs_only--list {
    list-style-type: upper-alpha;
    display: flex;
    justify-content: center;
    li {
      margin: 0px 25px;
      font-size: 22px;
      font-weight: 700;
    }
  }
}

.s24 {
  font-size: 24px;
  font-weight: 700;
}

.table_view_legend {
  tr {
    th {
      padding: 8px 8px;
      text-align: left;
      .lg-name {
        font-size: 30px;
        font-weight: 700;
      }
      .timer {
        border: none;
        background: #d12e26;
        color: #ffffff;
        font-weight: 700;
        font-size: 24px;
        border-radius: 10px;
        padding: 10px 10px;
      }
    }
    td {
      font-size: 24px;
      font-weight: 400;
      padding: 8px 8px;
      text-align: left;
    }
    &.red {
      color: #d12e26;
    }
    &.green {
      color: #60b158;
    }
  }
}
.pos-relative {
  position: relative !important;
}
